<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Demo | Trainer Card Buddy">
    <meta property="og:site_name" content="pogo-card">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://pkmngo.me">
    <meta name="twitter:site" content="https://pkmngo.me">
    <meta data-hid="title" name="title" content="Demo | Trainer Card Buddy">
    <meta data-hid="description" name="description" content="Create and Share your Pokemon Go trainer card online!">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Demo | Trainer Card Buddy">
    <meta property="og:description" content="Create and Share your Pokemon Go trainer card online!">
    <meta property="og:image" content="https://pkmngo.me/404.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Demo | Trainer Card Buddy">
    <meta name="twitter:description" content="Create and Share your Pokemon Go trainer card online!">
    <meta name="twitter:image" content="https://pkmngo.me/404.png">
    <meta name="twitter:image:alt" content="Pokemon Hatch Egg image">
    <title>Demo | Trainer Card Buddy</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
  </head>
  <body>
    <header>
      <div class="img-wrap">
        <img src="/egg.svg" alt="Egg">
      </div>
      <h1>
        Demo | Trainer Card Creator
      </h1>
    </header>
    
    <main>
        <p>Trainer Card Buddy makes it easy to share and add new Pokemon Go friends online.</p>
        <p>Create your own online Pokemon Go Trainer card, and get on your way to making new Best Friends today!</p>
        <p><a class="pogo-button center" href="/">Create your own!</a></p>
    </main>

    <div class="cards">
      <img src="/Default/0414-5988-7356/card.svg" alt="Base Card">
      <img src="/Valor/0414-5988-7356/card.svg?style=valor" alt="Valor Card">
      <img src="/Instinct/0414-5988-7356/card.svg?style=instinct" alt="Instinct Card">
      <img src="/Mystic/0414-5988-7356/card.svg?style=mystic" alt="Mystic Card">
      <img src="/Eevee/0414-5988-7356/card.svg?style=eevee" alt="Eevee card">
      <img src="/Pikachu/0414-5988-7356/card.svg?style=pikachu" alt="Pikachu card">
      <img src="/Pokeball/0414-5988-7356/card.svg?style=pokeball" alt="pokeball card">
      <img src="/Great Ball/0414-5988-7356/card.svg?style=greatball" alt="greatball card">
      <img src="/Ultra Ball/0414-5988-7356/card.svg?style=ultraball" alt="ultraball card">
      <img src="/Master Ball/0414-5988-7356/card.svg?style=masterball" alt="masterball card">
      <img src="/Love/0414-5988-7356/card.svg?style=love" alt="love card">
      <img src="/Map/0414-5988-7356/card.svg?style=map" alt="map card">
      <img src="/Team Rocket Light/0414-5988-7356/card.svg?style=rocketLight" alt="rocketLight card">
      <img src="/Team Rocket Dark/0414-5988-7356/card.svg?style=rocketDark" alt="rocketDark card">
    </div>

    <footer>
      <hr>
      <p>Made with love by <a href="https://spaghet.me" target="_blank">Tony</a> on <a href="https://glitch.com" target="_blank">Glitch</a>!</p>
      <p class="disc">pkmngo.me and any of it's websites are not affiliated with <a href="https://pokemongolive.com/en/" target="_blank">Pokémon Go</a> or <a href="https://nianticlabs.com/en/" target="_blank">Niantic, Inc.</a>. Pokémon and Pokémon character names are trademarks of Nintendo.</p>
      <p class="disc">This site is a community run and open source utility to help Pokemon Go players share their trainer information with one another.</p>
      <p class="disc">pkmngo.me does not collect any data, store cookies, or use any tracking of any kind. This is simply a site that creates dynamic images to share online.</p>
      <p class="disc">Icons made by <a href="https://www.flaticon.com/authors/roundicons-freebies" title="Roundicons Freebies">Roundicons Freebies</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
    </footer>

    <script>
        const header = document.querySelector('header');
        header.onclick = () => window.location.replace('/');
    </script>

    <style>
        header:hover {
            cursor: pointer;
        }

        .cards {
          text-align: center;
        }

        .cards > * {
          margin: 0.5rem;
        }
    </style>
</body>
</html>