<!DOCTYPE html>
<html lang="en">
<head>   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Trainer Card Buddy">
    <meta property="og:site_name" content="pogo-card">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="http://pogo-card.spaghet.me">
    <meta name="twitter:site" content="http://pogo-card.spaghet.me">
    <meta data-hid="title" name="title" content="Trainer Card Buddy">
    <meta data-hid="description" name="description" content="Create and Share your Pokemon Go trainer card online!">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Trainer Card Buddy">
    <meta property="og:description" content="Create and Share your Pokemon Go trainer card online!">
    <meta property="og:image" content="http://pogo-card.spaghet.me/404.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Trainer Card Buddy">
    <meta name="twitter:description" content="Create and Share your Pokemon Go trainer card online!">
    <meta name="twitter:image" content="http://pogo-card.spaghet.me/404.png">
    <meta name="twitter:image:alt" content="Pokemon Hatch Egg image">
    <title>Demo | Trainer Card Builder</title>
</head>
<body>
    <img src="/GoodBarn/0414-5988-7356/" alt="Base Card">
    <img src="/GoodBarn/0414-5988-7356/?style=valor" alt="Valor Card">
    <img src="/GoodBarn/0414-5988-7356/?style=instinct" alt="Instinct Card">
    <img src="/GoodBarn/0414-5988-7356/?style=mystic" alt="Mystic Card">
</body>
</html>